.head title {
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
  color: #222;
  font-weight: 400;
}

/* SNSアイコンのスタイル */
.snss h1 {
  text-align: right;
  font-size: 12px;
  padding: 30px;
  padding-bottom: 0;
  padding-top: 0;
  color: #CCCCCC;
  padding: 4px 8px;
}

.sns svg {
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  padding-right: 10px
}

path {
  color: inherit;
}

g:hover {
  color: #CCCCCC;
}

/* リンクの選択中の色 */
a:hover {
  color: #CCCCCC;
}

/* BODY */
body {
  font-weight: 400;
  font-family: Ostrich, sans-serif;
  color: #222;
}

/* タイトル(名前)のフォント */
.container h2 {
  line-height: normal;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  padding-top: none;
  padding-bottom: 30px;
  color: #555555;
}

.intro_myself {
  padding: 15px;
}

/* 各セクションのタイトル */
p.mb-0 {
  font-size: 17px;
  color:#555555;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: Ostrich, sans-serif;
  font-weight: 600;
}

/* セクション内の各項目 */
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  line-height: 1.6em;
}

h3 {
  text-align: left;
  padding: 15px;
  margin-bottom: 0px;
  font-weight: 500;
  font-family: Ostrich, sans-serif;
  color: #222;
  line-height: normal;
}

/* フッター */
footer p {
  color: lightgray;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}

p.papertitle {
  font-style: italic; 
}